.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', serif;
  font-weight:600;

}

.nav>* {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav>*:hover {
  color: #ff0033;
}

.nav>*.active {
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
